@using EntityLayer.Concrete
@model User


@{
    ViewData["Title"] = "OtherUserProfile";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel="stylesheet" href="~/css/profileButton.css">

<style>
    .profileAvatar-lg {
        vertical-align: middle;
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }
</style>

<div class="container">
    <div class="card mt-5">
        <div class="row card-body">

            <div class="col col-lg-3 col-md-4 mt-5 col-12 d-flex justify-content-center">
                <img src="@Model.ProfileImage" alt="Avatar" class="profileAvatar-lg">
            </div>

            <div class="col col-lg-9 col-md-8 col-12" style="margin-top: 60px;">
                <h3 class="w-100">@Model.Name @Model.Surname</h3>

                <div class="card">
                    <div class="card-header">
                        Hakkında
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@Model.About</p>
                        </blockquote>
                    </div>
                </div>

                <div class="mt-3">
                    <h5 class="d-inline">Takipçi <span class="badge bg-secondary">@Model.Followings.Count</span></h5>
                    <h5 class="d-inline">Takip Edilen <span class="badge bg-secondary">@Model.Followers.Count</span>
                    </h5>
                </div>

                <a href="#"><button role="button" class="profileButton mt-4 me-2">Takip Et</button></a>

            </div>

        </div>
    </div>

    <div class="row" data-masonry='{"percentPosition": true }'>
        @for (int i = 0; i < @Model.Products.Count; i++)
        {
            <div class="col col-lg-4 col-md-6 col-12 mt-5">
                <div class="card mb-3">
                    <a href="/Home/ProductPage/@Model.Products[i].ID"><img src="@Model.Products[i].Images[0].FilePath" class="card-img-top" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">@Model.Products[i].Name</h5>
                        <p class="card-text"> @Model.Products[i].Description</p>
                        <p class="card-text"><span class="badge text-bg-primary">@Model.Products[i].Category.Name</span></p>
                    </div>
                </div>
            </div>
        }
    </div>



    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
</div>
</div>

