@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/Layout.cshtml";
    var User = (User)ViewBag.User;
}
<div class="container">
    <div class="row" data-masonry='{"percentPosition": true }'>
        @foreach (var Product in Model)
        {
            <div class="col col-lg-4 col-md-6 col-12 mt-5">
                <div class="card mb-3">
                    <a href="/Home/ProductPage/@Product.ID"><img style="" src="@Product.Images[0].FilePath"
                            class="card-img-top" alt=""></a>
                    <div class="card-body">
                        <h5 class="card-title">@Product.Name</h5>
                        <p class="card-text">@Product.Description</p>
                        <p class="card-text"><span class="badge text-bg-primary">@Product.Category.Name</span></p>
                        <p class="card-text"><small class="text-body-secondary">@Product.User.Username</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


